<nz-layout class="layout" style="height:100%">
  <nz-layout>
    <nz-sider [nzWidth]="200" id="sider">
      <div class="tedu-icon"></div>
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item routerLink="/index">
          <span title>首页</span>
        </li>
        <li nz-menu-item routerLink="/course">
          <span title>选课中心</span>
        </li>
        <li nz-menu-item>
          <span title>免费讲座</span>
        </li>
        <li nz-menu-item>
          <span title>编程数学</span>
        </li>
        <li nz-menu-item>
          <span title>学习中心</span>
        </li>
        <li nz-menu-item>
          <span title>软件下载</span>
        </li>
        <li nz-menu-item>
          <span title>帮助中心</span>
        </li>
        <li nz-menu-item>
          <span title>发现更多</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:24px">
      <nz-content class="content" style="background:transparent; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-footer style="z-index: 100;">Footer</nz-footer>
</nz-layout>