  [nz-carousel-content] {
    z-index: 50;
    box-sizing: border-box;
    text-align: center;
    height: 720px;
    width: 100%;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #indexcarousel{
    position: absolute;
    left: 0;
    top: 0;
    height: 720px;
    width: 100%;
  }
